<h1>All The Bears!</h1>

<ul>
  <%= for bear <- bears do %>
    <li><%= bear.name %> - <%= bear.type %></li>
  <% end %>
</ul>

<!--
eex extends for embedded Elixir.
There is also, for example, HEEx (HTML + Embedded Elixir),
which is a performant templating language with support for reusable components.
-->
